footer {
    border-top: 1px solid rgb(222, 222, 222);
    .col {
        margin-bottom: 1rem;
    }
    a {
        display: block;
    }
    li {
        line-height: 3rem;
        margin-bottom: 0.75rem;
    }
    input {
        line-height: 2.5rem;
        padding-left: 0.5rem;
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .footer-grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    footer .col:first-of-type,
    footer .col:last-of-type {
        grid-column: 1 / -1;
    }

    footer .col:nth-of-type(2),
    footer .col:nth-of-type(3) {
        grid-column: span 2;
    }
}

@media screen and (min-width: 850px) {
    footer .col:first-of-type {
        grid-column: 1 / span 2;
    }

    footer .col:nth-of-type(2),
    footer .col:nth-of-type(3) {
        grid-column: span 1;
    }

}

@media screen and (min-width: 1320px) {
    footer .col:first-of-type {
        grid-column: 1 / span 1;
    }

    footer .col:last-of-type {
        grid-column: 4 / span 1;
    }
}